/*  your css code here. If applicable */
header
{
	text-align:center;
	
}
table,td{
	border:1px solid black;
	
}
#table-1
{
	width:400px;
	height:100px;
}
#t11,#t12,#t13
{
 padding:1px;
}
.center
{
	text-align:center;
	justify-content:center;
}
.right
{
   text-align:right;	
}
#table-2
{
	width:400px;
	height:100px;
}
#table-3
{
	width:400px;
	height:100px;
}
#colorg
{
	background-color:green;
}
#colorb
{
	background-color:blue;
}
#t-image img
{
	margin-left:100px;
	margin-right:100px;
	height:100px;
	width:200px;
}